@import "variables";

.section-content-header {
    background-color: $dark-color;
    padding: 30px;
    padding-top: $default-padding * 2;
    padding-bottom: 0;

    color: var(--sidebar-text-color);
    box-shadow: inset 0 -3px 3px rgba(black, 0.25);
    overflow: hidden;

    & + .section-content-body {
        background-color: white;

        padding: 30px;
        box-sizing: border-box;
        box-shadow: 0 3px 6px rgba(black, 0.25);
    }

    .section-content-header-label {
        margin-bottom: $default-padding;
    }

    h1, h2, h3, h4, h5, h6 {
        margin-top: 0;
        margin-bottom: 0;

        &.uppercase {
            text-transform: uppercase;
        }
    }

    .widgets {
        margin-top: $default-padding;
        margin-bottom: $default-padding;

        display: flex;

        .widget {
            background: linear-gradient(45deg, rgba(white, 0.1) 0%, rgba(white, 0.25) 85%);
            padding: $default-padding * 1.5 $default-padding * 2;
            border-radius: 8px;
            box-shadow: 0 3px 6px rgba(black, 0.2);
            position: relative;

            & + .widget {
                margin-left: $default-padding;
            }

            .widget-primary-text {
                font-size: 1.25rem;

                &.uppercase {
                    text-transform: uppercase;
                }

                & + .widget-secondary-text {
                    margin-top: $default-padding;
                }
            }

            .widget-secondary-text {
                font-size: 1rem;
            }

            .widget-primary-text, .widget-secondary-text {
                margin-right: $default-padding * 2;
            }

            .counter {
                position: absolute;
                bottom: $default-padding * 1.5;
                right: $default-padding * 2;
                font-size: 1rem;
                opacity: 0.75;
            }
        }
    }

    .tabs {
        margin-top: $default-padding * 2;
        display: flex;

        a {
            display: inline-flex;
            align-items: center;

            text-decoration: none;
            padding: 16px 24px;
            user-select: none;
            color: var(--text-color);
            border-radius: 3px 3px 0 0;
            height: 46px;
            overflow: hidden;
            box-sizing: border-box;

            &.active {
                background-color: white;
                color: var(--text-base);
                box-shadow: 0 3px 12px rgba(black, 0.5);

                .badge {
                    background-color: $blue-color;
                }
            }

            &:last-child {
                margin-right: 0;
            }

            .badge {
                margin-left: $default-padding / 4 * 3;
                font-size: 10px;
                display: block;
                padding: 4px 8px;
                color: white;
                border-radius: 16px;
                margin-top: -2px;
                background-color: var(--text-base);
                box-shadow: 0 3px 6px rgba(black, 0.25);
                text-shadow: 0 0 3px rgba(black, 0.25);
            }
        }
    }
}
